/GraphViz
/build64Win
/build32Win
/build64Lin
/build32Lin
/build64
/build32
/build
/tools
/bin
/.vc
/.vs
/.vscode
/Autotest.log
/Example/fileversion
/Example/Templates/GraphViz1c/Ext/Template.bin
/Decompile.bat
manifest.xml
*.epf
*.o
*.d
*.so
