/GraphViz
/build64W
/build32W
/build64Win
/build32Win
/build64Lin
/build32Lin
/build64
/build32
/build
/bin64
/bin32
/bin
/.vc
/.vs
/.vscode
/Autotest.log
/AddIn.zip
/Example/fileversion
/Example/Templates/GraphViz1C/Ext/Template.bin
/Decompile.bat
manifest.xml
*.epf
*.o
*.d
*.so
